p{
    line-height: 1.5em;
}

a > img {
    padding:25px;
}

body{
    font-size: 24px;
    font-family: sans-serif;
    background-color: #f2f2f2;
    color: #262626;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;
}

li {
    display: inline;
    float: left;
}

li a {
    font-size: 18px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.contentBox{
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin: 30px;
    border-radius: 10px;
    padding: 15px;
}

.namePlate {
    width: 40%;
    margin-right: 10%;
    float: left;
    margin-top: 100px;
    text-align: center;
}

.namePlate > h1 {
    font-size: 3em;
}

.contentBox > h1 {
    text-align: center;
    font-size: 2em;
}

.contentBox > a {
    text-decoration: none;
    color: gray;
    font-size:1.2em;
}

.contentBox a:hover {
    color: blue;
}

.imgContainer>img{
    border-radius: 100%;
}

.imgContainer{
    width: 30%;
    margin-top: 150px;
    float: left;
    padding-left: calc((30%-300px)/2)
}
