/* basic page styling */
p {
    line-height: 1.5em;
}

body, html{
    height: 100%;
}

body {
    font-size: 24px;
    font-family: serif;
    background-color: #f2f2f2;
    color: #262626;
}

h1{
    font-size: 3em;
}

/* proper spacing for contact icons */
a>img {
    padding: 25px;
}

/* nav styling */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;
}

li {
    display: inline;
    float: left;
}

nav {
    font-family: sans-serif;
}

li a {
    font-size: 18px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/* container for content boxes(makes wrapping) */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* Name header on index */
.namePlate {
    width: 40%;
    margin-right: 10%;
    float: left;
    margin-top: 100px;
    text-align: center;
}

/* box container for project content */
.contentBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: .6em;
    width: 400px;
    height: 400px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 10px;
    padding: 15px;
}

.contentBox>h1 {
    text-align: center;
    font-size: 2em;
    font-family: serif;
}

.contentBox>span>a:hover {
    background-color: #f2f2f2;
    color: #003d99;
    cursor: auto;
}

span {
    display: flex;
    justify-content: center;
    font-family: serif;
    font-weight: bold;
    letter-spacing: 3px;
}

.contentBox>span>a {
    width: 75%;
    height: 75px;
    border-radius: 10px;
    border: .5px solid #333;
    background-color: #003d99;
    color: #f2f2f2;
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: serif;
    letter-spacing: 2px;
    align-items: center;
    text-decoration: none;
}

/* Profile style image on index */
.imgContainer>img {
    border-radius: 100%;
}

.imgContainer {
    width: 30%;
    margin-top: 150px;
    float: left;
    padding-left: calc((30%-300px)/2)
}

/* styling for about page */

.about{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin: auto;
}

.about > p {
    display: block;
    width: 80%;
    margin-top: -5px;
}

.about > img {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    margin-top: 30px;
}
